
/* LEGACY - Global styles only */



/*---------------------------------------------------------------------
-----------------------------------------------------------------------

 LEGACY - LIST of all dates
 
-----------------------------------------------------------------------
---------------------------------------------------------------------*/

form#views-exposed-form-legacy-river-page {
	margin: 15px 0 30px 0;
}
form#views-exposed-form-legacy-river-page .views-exposed-widgets {
	margin: 0;
}
#edit-field-legacy-traits-reference-tid-wrapper {
	clear: both;
	padding: 0;
	float: none;
}

/* Filter Label */
#edit-field-legacy-traits-reference-tid-wrapper > label {
	display: block;
	font-weight: normal;
	font-size: 18px;
	margin-bottom: 10px;
}
#edit-field-legacy-traits-reference-tid-wrapper > label:after {
	content:":";
}

/* Checkboxes */
#edit-field-legacy-traits-reference-tid-wrapper .bef-checkboxes .form-item {
	margin: 0 6px 10px 0;
	font-size: 18px;
	border-bottom: 1px solid #bbb;
	padding: 6px;
}

/* kill border last item - mobile only */
.responsive-layout-mobile #edit-field-legacy-traits-reference-tid-wrapper .bef-checkboxes .form-item:last-child {
	border: 0;
}
#edit-field-legacy-traits-reference-tid-wrapper .form-item label.option {
	font-weight: normal;
	font-size: 18px;
	text-transform: uppercase;
	cursor: pointer;
}

/* Submit button */
#views-exposed-form-legacy-river-page .views-submit-button {
	margin: 0;
	padding: 0;
	clear: both;
}
#views-exposed-form-legacy-river-page .views-submit-button input.form-submit {
	margin: 0;
	width: 90px;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 15px;
}

/*--------------------------------------------------------

 CHECKBOX OPTION ICONS
  
 (the LEGEND for available legacy content per show)
 
 
 
 ****************!!!   IMPORTANT   !!!****************
 
  NOTE::: Make sure the TID number referenced in the classes below matches 
 the TID in the container div class, so that the proper icon  will display 
 along with the button label. By default they are all set to the same TID 
 number as they will commonly be different for each site.
 
 example:
 	 .form-item-edit-field-legacy-traits-reference-tid-25  <---change to match
 
---------------------------------------------------------*/

#edit-field-legacy-traits-reference-tid-wrapper .form-item label.option:before {
	color: #2a2e46;
	font-family: IcoMoonBasic;
	font-size: 21px;
	font-weight: normal;
	margin: 0 12px 0 2px;
	text-shadow: 1px 1px 0 #FFFFFF;
	vertical-align: middle;
	text-transform: none;
}
#edit-field-legacy-traits-reference-tid-wraper .views-exposed-form label {
	font-weight: normal;
	text-transform: uppercase;
	font-size: 12px;
}

/* DOWNLOAD / BUY option */
#edit-field-legacy-traits-reference-tid-wrapper .form-item-edit-field-legacy-traits-reference-tid-43 label.option:before,
a.legacy-trait-Buy:before  {
	content: "\3c";
	speak: none;
	position: relative;
	top: -2px;
}

/* MEET & GREET option */
#edit-field-legacy-traits-reference-tid-wrapper .form-item-edit-field-legacy-traits-reference-tid-45 label.option:before,
a.legacy-trait-Meet-Greet:before  {
	content: "\30";
	speak: none;
}

/* PHOTOS option */
#edit-field-legacy-traits-reference-tid-wrapper .form-item-edit-field-legacy-traits-reference-tid-116 label.option:before,
a.legacy-trait-Photos:before  {
	content: "\65";
	speak: none;
}
/* !!! hide photo options in mobile only !!! */
.responsive-layout-mobile #edit-field-legacy-traits-reference-tid-wrapper .form-item-edit-field-legacy-traits-reference-tid-46, 
.responsive-layout-mobile a.legacy-trait-Photos  {
	display: none;
}

/* POSTS option */
#edit-field-legacy-traits-reference-tid-wrapper .form-item-edit-field-legacy-traits-reference-tid-126 label.option:before,
a.legacy-trait-Posts:before  {
	content: "\35";
	speak: none;
}

/* AUDIO option */
#edit-field-legacy-traits-reference-tid-wrapper .form-item-edit-field-legacy-traits-reference-tid-44 label.option:before,
a.legacy-trait-Audio:before  {
	content: "\4c";
	speak: none;
}

/* HIDE unused Legacy filters */
/* audio & Buy */
.form-item-edit-field-legacy-traits-reference-tid-44,
.form-item-edit-field-legacy-traits-reference-tid-43,
.form-item-edit-field-legacy-traits-reference-tid-121,
.form-item-edit-field-legacy-traits-reference-tid-111,
.form-item-edit-field-legacy-traits-reference-tid-131 {
	display: none;
}

/*-------------------------------------------

 Filter by years 
 
-------------------------------------------*/

.page-legacy-list .gallery-years-view {
	padding-top: 25px;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	margin-bottom: 15px;
}
.page-legacy-list .gallery-years-view-content:before {
	content: "Filter events by year:";
	font-size: 18px;
	margin-bottom: 10px;
	display: block;
}
.page-legacy-list .gallery-years-view ul {
	margin: 0;
	border: 0;
}

/* label */
.page-legacy-list .gallery-years-view .view-header p {
	font-size: 15px;
}


/*------------------------------------------

 LEGACY EVENT LIST 
 
------------------------------------------*/

/*------------ logged in admin links ------------*/

.legacy-list-edit-links {
	clear: both;
	overflow: hidden;
}

/*-------------- list item content ---------------*/

.page-legacy-list .page-main-content .teaser-list-row {
	overflow: hidden; /* clears floats */
	position: relative;
}
.page-legacy-list .page-main-content .teaser-list-row:first-child {
	padding-top: 15px; /* overriding the override */
}
.page-legacy-list .location-venue-wrapper {
	display: block;
	margin: 0 0 10px 60px;
}
.view-legacy-river .dateblock {
	padding: 17px 0;
}
.page-legacy-list .location-venue-wrapper .city-state {
	font-size: 25px;
}
.page-legacy-list .location-venue-wrapper a .city-state {
	color: #464646;
}
.page-legacy-list .location-venue-wrapper a:hover .city-state {
	color: #2a2e46;
}

.page-legacy-list .event-group {
	font-size: 12px;
}

/*--------- Legacy items with NO available content & no link ------*/

.legacy-row-empty {
	color: #888;
}
.legacy-row-empty .dateblock {
	background-color: #ccc;
}
.legacy-row-empty .dateblock .month,
.legacy-row-empty .dateblock .year,
.legacy-row-empty .dateblock .day {
	color: #888;
}

/*-------- Available content Icons - trait links ---------*/

.legacy-trait-links {
	background-color: transparent;
	margin-left: 60px; /* total width of dateblock + right margin - for mobile */
	margin-bottom: 10px;
	overflow: hidden;
	display: block;
	background-color: rgba(0, 0, 0, 0.05);
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 5px;
	border: 1px solid #aaa;
}
.legacy-trait-links-label {
	display: block;
	font-size: 11px;
	line-height: 11px;
	margin-bottom: 5px;
}
.legacy-trait-links a {
	display: block;
	width: 26px;
	height: 0;
	padding: 26px 5px 0 5px;
	overflow: hidden;
	position: relative;
	float: left;
	margin: 0 5px 5px 0;
	color: #444;
	border: 1px solid #aaa;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-color: #fff;
}
.legacy-trait-links a:hover {
	background-color: #2a2e46;
	color: #fff;
}
.legacy-trait-links a:before { /* NOTE: specific icons are defined above in CHECKBOX OPTION ICONS */
	position: absolute;
	top: 3px;
	left: 5px;
	font-family: IcoMoonBasic;
	font-size: 16px;
}

/* BUY / DOWNLOAD link - Make it stand out from the other links - should be first in the list */

.legacy-trait-links a.legacy-trait-Buy {
	height: 30px;
	line-height: 22px;
	padding: 3px 0;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
	text-decoration: none;
	background-color: #444;
	color: #fff;
	border: 0;
}
.legacy-trait-links a.legacy-trait-Buy:hover {
	background-color: #2a2e46;
}
.legacy-trait-links a.legacy-trait-Buy:before {
	left: 0;
	margin-right: 8px;
	position: relative;
	top: 0;
}





/*---------------------------------------------------------------------
-----------------------------------------------------------------------

 LEGACY - Archived Event - Node

-----------------------------------------------------------------------
---------------------------------------------------------------------*/

/* Title */

.node-type-event .node-content-container h2.block-title {
	margin-bottom: 10px;
}

/* node (entity) pager */
#legacy-header-row-container .node-pager-header {
  	height: 38px;
}

/* Legacy Status (ON/OFF) edit link */

.logged-in .legacy-node-full #event-legacy-on-switch {
	border: 1px solid #aaaCCC;
    margin-bottom: 20px;
    padding: 5px;
}
.logged-in .legacy-node-full .field-name-field-event-legacy-on .field-item {
	float: left;
	margin-right: 5px;
}
.logged-in .legacy-node-full .field-name-field-event-legacy-on .field-item:nth-child(3) {
	float: none;
	clear: both;
}


/*-----------------------------------------------

 LEGACY DATE BLOCK / CITY / VENUE
 
----------------------------------------------*/

/* event city */
.event-location-container .event-location-location {
	font-size: 35px;
	line-height: 100%;
	margin-bottom: 5px;
	letter-spacing: -1px;
	color: #333;
	font-weight: 900;
}

/* event venue */
.event-location-container .event-location-title {
	font-weight: normal;
	font-size: 18px;
	line-height: 100%;
}

/* featured photo */
#legacy-middle-row2-container .view-event-assets {
	margin-bottom: 20px;
}

.photo-and-links-container h2.block-title {
	display: none;
}

/*---------------------------------------------------

 LINKS - buy now, i was there, posts 
 
---------------------------------------------------*/


/* Buy Now Popup */

.legacy-buy-show-link-container .views-popup-container {
	position: relative;
}
.legacy-buy-show-link-container .views-popup {
	position: absolute;
	top: -35px !important;
	left: 0;
}
.legacy-buy-show-link-container .form-type-radio {
	float: left;
	margin-right: 10px;
}
.legacy-links-item {
	margin-bottom: 5px;
}
.legacy-links-item a, 
.legacy-links-item input {
	border-radius: 5px;
	display: block;
	font-size: 20px;
	font-weight: normal;
	padding: 10px 20px;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}
.legacy-links-item a:hover {
	text-decoration: none;
}


/*------------------------------------------------ 

 SHOW NOTES 

--------------------------------------------------*/

.legacy-shownotes-item .field-label { 
	margin-bottom: 20px;
}
.legacy-shownotes-item p:last-child {
	margin-bottom: 0;
}
.legacy-shownotes-item {
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 4px double #888;
}
div.legacy-shownotes-item .item-hide {
    height: 220px;
    overflow: hidden;
    display: block;
    margin-bottom: 20px;
}


/*------------------------------------------------

 MUSIC PLAYER & TRACKLIST

---------------------------------------------------*/

.node-type-event .sm_player {
	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top,  #eeeeee 0%, #dcdcdc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#dcdcdc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#dcdcdc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eeeeee 0%,#dcdcdc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eeeeee 0%,#dcdcdc 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eeeeee 0%,#dcdcdc 100%); /* W3C */
	padding: 10px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 30px;
	-webkit-box-shadow: 1px 1px 1px #BBBBBB;
	box-shadow: 1px 1px 1px #BBBBBB;
}

/* player controls */

.sm-player-controls {
	margin: 0 auto;
	height: 59px;
	padding: 7px 0 0;
	position: relative;
	width: 158px;
}

/* containers */
.sm-player-controls .sm-player-previous, 
.sm-player-controls .sm-player-next, 
.sm-player-controls .sm-player-play {
	background: #a4a5a7; /* Old browsers */
	background: -moz-linear-gradient(top,  #a4a5a7 0%, #d3d3d4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a4a5a7), color-stop(100%,#d3d3d4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a4a5a7 0%,#d3d3d4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a4a5a7 0%,#d3d3d4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a4a5a7 0%,#d3d3d4 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a4a5a7 0%,#d3d3d4 100%); /* W3C */
	float: left;
	margin-right: 10px;
	padding: 5px;
	-webkit-border-radius: 35px;
	border-radius: 35px;
	-webkit-box-shadow: 0 2px 0 #eee;
	box-shadow: 0 2px 0 #eee;
}
.sm-player-controls .sm-player-previous, 
.sm-player-controls .sm-player-next {
	position: relative;
	top: 4px;
}
.sm-player-controls .sm-player-play {
	height: 50px;
	width: 50px;
}
.sm-player-controls .sm-player-next {
	margin: 0;
}

/* links */
.sm-player-controls .sm-player-previous a, 
.sm-player-controls .sm-player-next a, 
.sm-player-controls .sm-player-play a {
	background: #efefef; /* Old browsers */
	background: -moz-linear-gradient(top,  #efefef 0%, #c7c7c7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(100%,#c7c7c7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #efefef 0%,#c7c7c7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #efefef 0%,#c7c7c7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #efefef 0%,#c7c7c7 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #efefef 0%,#c7c7c7 100%); /* W3C */
	-webkit-border-radius: 35px;
	border-radius: 35px;
	display: block;
	height: 0;
	overflow: hidden;
	padding-top: 32px;
	position: relative;
	width: 32px;
	text-shadow: 1px 1px 0 #fff;
	color: #444;
	-webkit-box-shadow: 0 2px 0 #999;
	box-shadow: 0 2px 0 #999;
}
.sm-player-controls .sm-player-play a {
	padding-top: 40px;
	width: 40px;
}
.sm-player-controls a:hover {
	color: #00cc99;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #e7e7e7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e7e7e7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e7e7e7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#e7e7e7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#e7e7e7 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#e7e7e7 100%); /* W3C */
}

/* ICONS */
.sm-player-previous a:before, 
.sm-player-play a:before, 
.sm-player-next a:before {
	font-family: IcoMoonBasic;
	font-size: 16px;
	height: 32px;
	left: 7px;
	line-height: 40px;
	position: absolute;
	top: -4px;
}

/* prev */
.sm-player-previous a:before {
	content: "\79";
}

/* play */
.sm-player-play a:before {
	content: "\e009";
	font-size: 30px;
	width: 40px;
	top: 0;
	left: 7px;
}

/* pause */
.sm-player-play a.playing:before {
	content: "\7b";
	width: 40px;
	font-size: 24px;
	color: #222;
	left: 8px;
}

/* next */
.sm-player-next a:before {
	content: "\7c";
	left: 10px;
}

/* track info */

.sm-player-info-container {
	width: 100%;
}
.sm-player-track-info {
	padding: 2px 10px;
	background-color: #000;
	color: #ccc;
	font-size: 13px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 5px;
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-shadow: none;
}

/* player status */

.sm-player-status {
	background-color: #fff;
	border: 1px solid #aaa;
	height: 10px;
	width: 100%;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
.sm-player-progress-bar {
	background-color: #97d408;
	height: 8px;
	border-top: 1px solid #a8e41b;
	border-bottom: 1px solid #7dad0c;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

/* hide-show via js */
.item-hide {
    overflow: hidden;
    display: block;
}
.item-shown {
    overflow: visible !important;
    height: auto !important;
}

/*------------------- Track List----------------------*/

.song-list-container h3 {
	font-size: 17px;
}
.song-list-container ol {
	line-height: 25px;
}


/*------------------------------------------------

 LEGACY PURCHASE OPTIONS

---------------------------------------------------*/


/* Add to Cart - Details */
#legacy-purchase-options .add-to-cart-details {
	overflow: hidden;
}

/* image */
#legacy-purchase-options .commerce-product-field-field-image {
	border: 1px solid #aaa;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	overflow: hidden;
	height: auto;
	margin-bottom: 20px;
}
#legacy-purchase-options .field-type-image .field-label {
	display: none;
}
#legacy-purchase-options .add-to-cart-bottom {
	border: 0;
}
#legacy-purchase-options .add-to-cart-bottom #edit-display-price {
	margin-top: 0;
}


/*--------------------------------------------------

 OFFICIAL PHOTOS
 
---------------------------------------------------*/

/* HIDE official photos block in mobile */
.legacy-node-full .official-photos-container {
	display: none;
}

/*--------------------------------------------------

 Add To My Shows
 
---------------------------------------------------*/

/* confirmation page after clicking "add to my shows" */

form#og-ui-confirm-subscribe input#edit-submit,
form#og-ui-confirm-subscribe a#edit-cancel {
	float: left;
	margin-right: 10px;
}

form#og-ui-confirm-subscribe a#edit-cancel {
	display: block;
	font-family: arial;
	font-size: 13px;
	padding: 6px 0px;
	text-align: center;
	text-decoration: none;
	width: 80px;
}

/*---------------------------------------------------------------------
-----------------------------------------------------------------------

 LEGACY - Sidebar Slideshow list - BLOCK
 
-----------------------------------------------------------------------
---------------------------------------------------------------------*/

.view-legacy-shows-slideshow {
	color: #ccc;
}
.view-legacy-shows-slideshow .views-field-field-images-2 {
	width: 100%;
	padding: 10px 0;
	background: transparent url(../../images/transparent_white_20.png) repeat scroll left top;
	border: 1px solid #555;
}
.view-legacy-shows-slideshow .views-field-field-images-2 img {
	border: 0;
	margin: 0 auto;
}


/*---------------------------------------------------------------------
-----------------------------------------------------------------------

 LEGACY - List of TOUR GROUPS - PAGE

-----------------------------------------------------------------------
---------------------------------------------------------------------*/

.page-legacy .teaser-grid li {
	padding: 5px 10px;
	text-align: left;
	float: none;
	border-bottom: 1px solid #aaa;
	background: transparent url(../../images/icons-arrows.png) no-repeat scroll right -3080px;
}
.page-legacy .teaser-grid li:hover {
	background-color: #eee;
	background: #eee url(../../images/icons-arrows.png) no-repeat scroll right -3180px;
}
.event-group-title {
	line-height: 18px;
}
.event-group-date-range {
	font-size: 14px;
	font-style: italic;
}


/*---------------------------------------------------------------------
-----------------------------------------------------------------------

 LEGACY - LIST of DATES within a Tour/Event Group - PAGE
 
-----------------------------------------------------------------------
---------------------------------------------------------------------*/

.page-legacy-dates h5.legacy-event-location {
	margin-bottom: 0px;
}
.page-legacy-dates .legacy-event-date {
	font-size: 13px;
	font-style: italic;
	line-height: 120%;
}



